peda*
yaramaster/*.obj
yaramaster/*.lst
yaramaster/*.dump
yaramaster/*.exe
yaramaster/*.pdf
yaramaster/sample_source/*.o
yaramaster/sample_lst/*.lst
yaramaster/sample_dump/*.dump
yaramaster/yararule_compiled/*.yarc
yaramaster/test*
yaramaster/.viminfo
yaramaster/.python_history
yaramaster/.bash_history